# Mediatek
/proc/thermlmt
VPU limit, CPU limit,GPU limit,GPU Usage,GPU f,TTJ
#/proc/driver/thermal/clatm_sspm
#sspm,c limit,g limit
/proc/fps_tm/fps_count
FPS,FPS cur lmt,game mode
#/sys/devices/virtual/switch/fps/state
#FPS limit
/proc/wmt_tm/tx_thro
WiFi Tx Tput kbps
/proc/mobile_tm/tx_thro
MD Tx Tput kbps
/proc/bcctlmt
Iin limit,Ibat limit,PEP30 Iin lmt
/proc/bcct_2ndlmt
2nd Iin limit,2nd Ibat limit
/proc/battery_status
SOC,UISOC,VBAT,IBAT,minTCHR,MaxTCHR,VBUS,AICR,Chr Type,PEP cur lmt
/sys/devices/platform/battery/power_supply/battery/batt_temp
Tbat
/sys/class/power_supply/battery/voltage_now
Vbat
/sys/class/power_supply/battery/current_now
Ibat
/sys/devices/system/cpu/cpu0/online
cpu0
/sys/devices/system/cpu/cpu1/online
cpu1
/sys/devices/system/cpu/cpu2/online
cpu2
/sys/devices/system/cpu/cpu3/online
cpu3
/sys/devices/system/cpu/cpu4/online
cpu4
/sys/devices/system/cpu/cpu5/online
cpu5
/sys/devices/system/cpu/cpu6/online
cpu6
/sys/devices/system/cpu/cpu7/online
cpu7
/sys/kernel/debug/fpsgo/fstb/fps_count
updateFPS,tm_input_fps,fstb_fps_cur_limit,avg_fps_limit,in_game_mode,cur_cpu_time,cur_gpu_time
/sys/kernel/debug/fpsgo/fstb/fstb_level
fstb_level,range
#/proc/ppm/policy/tskin_ctrl_en
#PPM_Tskin_ctrl
/proc/ppm/policy/thermal_limit
PPM_Tskin_limit
#/proc/ppm/policy/thermal_ttj_limit
#PPM_TTJ_limit
/sys/devices/platform/battery/FG_Battery_CurrentConsumption
Ibat2
#/sys/devices/platform/battery_meter/FG_Current
#Ibat3